$color-viewport-bg: #060a13;
$color-page-bg: #fff;

$color-white: #fff;
$color-black: #000;

$color-dark-1: #111c36;
$color-dark-2: #21386b;

$color-accent-primary: #2bff00;
$color-accent-primary-contrast: #0a2954;

$color-subtle: #ffffcc;
$color-warning-bg: #ffff00;
$color-warning-fg: #fc0808;
