$color-viewport-bg: #060a13;
$color-page-bg: #fff;

$color-white: #fff;
$color-black: #000;

$color-dark-1: #111c36;
$color-dark-2: #21386b;
$color-dark-3: #3d5995;

$color-accent-primary: #2bff00;
$color-accent-primary-contrast: #0a2954;

$color-subtle: #ffffcc;
$color-warning-bg: #ffff00;
$color-warning-fg: #fc0808;

@mixin text-stroke($color: $color-black, $size: 0.05em) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}
